main {
  display: grid;
  justify-content: center;
  width: 28vw;
  min-width: 20vh;
  min-height: 64vh;
  height: 46vh;
  padding: 20px 20px 0 20px;
  text-align: center;
  background-color: rgb(236, 236, 236);
}

form {
  width: 28vw;
  min-width: 30vh;
  display: grid;
  height: 20vh !important;
  background-color: transparent;
}

.icon {
  width: 6vw;
  height: 12vh; 
}

.buttonRegister {
  width: 140px;
  margin: 0 auto;
  margin-top: 60px;
  background-color: #21a4f0;
}

.MR {
  margin-right: 20px;
}
