<main>
  <h2>Adicionar novo funcionário</h2>
  <form [formGroup]="formEmployee" class="form" *ngFor="let proper of posto">
    <mat-form-field class="MR" appearance="outline">
      <mat-label>Cpf</mat-label>
      <input matInput formControlName="cpf" type="text"/>
    </mat-form-field>
    <mat-form-field class="MR" appearance="outline">
      <mat-label>Cargo</mat-label>
      <input matInput formControlName="cargo" type="text" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{proper.Nome_do_Posto}}</mat-label>
      <input matInput readonly [placeholder]="proper.Nome_do_Posto" type="text">
    </mat-form-field>
    <button mat-button appWhite (click)="SubmitEmployee()">Cadastrar</button>
  </form>
</main>
  