main {
  padding: 25px;
  text-align: center;
}

form {
  height: 40vh;
  width: 20vw;
  display: grid;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: transparent;
}

form > button {
  width: 140px;
  margin: 0 auto;
  background-color: #21a4f0;
}

.MR {
  margin-right: 20px;
}
