<main>
  <h2 style="font-family: Montserrat;">Aualizar Funcionário</h2>
  <form class="form" >
    <mat-form-field class="MR" appearance="outline">
      <mat-label>Cargo</mat-label>
      <input matInput [(ngModel)]="employee.Cargo" name="cpf" type="text"/>
    </mat-form-field>
    <mat-form-field class="MR" appearance="outline">
      <mat-label>Posto</mat-label>
      <input matInput [(ngModel)]="employee.Nome_Posto" name="cargo" type="text"/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Funcionário</mat-label>
      <input matInput readonly [(ngModel)]="employee.Nome_Funcionario" type="text">
    </mat-form-field>
    <button mat-button appWhite>Cadastrar</button>
  </form>
</main>