main {
    width: 30vw;
    height: 55vh;
    justify-content: center;
    min-height: 26vh;
    padding: 10px 20px 0 20px;
    text-align: center;
}

form {
    margin-top: 29px;
    height: 20vh;
    display: grid;
}

button {
    width: 200px;
    height: 30px;
    margin: 0 auto;
    background-color: #21a4f0;
}