main {
    width: 30vw;
    height: 50vh;
    display: grid;
    justify-content: center;
    min-height: 26vh;
    padding: 20px 20px 0 20px;
    text-align: center;
}

form {
    height: 20vh;
    display: grid;
}

button {
    width: 200px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #21a4f0;
}