<div class="main">
    <h2>Atualizar posto</h2>
    <form class="form">
        <mat-form-field class="MR" appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput [(ngModel)]="result.postos[0].Nome_do_Posto" type="text" name="Nome_do_Posto">
        </mat-form-field>
        <mat-form-field class="MR" appearance="outline">
            <mat-label>Cep</mat-label>
            <input matInput [(ngModel)]="result.postos[0].Cep" type="number" name="Cep">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Uf</mat-label>
            <input matInput [(ngModel)]="result.postos[0].Uf" type="text" name="Uf">
        </mat-form-field>
        <mat-form-field class="MR" appearance="outline">
            <mat-label>Localidade</mat-label>
            <input matInput [(ngModel)]="result.postos[0].Localidade" type="text" name="Localidade">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Bairro</mat-label>
            <input matInput [(ngModel)]="result.postos[0].Bairro" type="text" name="Bairro">
        </mat-form-field>
        <mat-form-field class="MR" appearance="outline">
            <mat-label>Logradouro</mat-label>
            <input matInput [(ngModel)]="result.postos[0].Logradouro" type="text" name="Logradouro">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Número</mat-label>
            <input matInput [(ngModel)]="result.postos[0].Numero" type="number" name="Numero">
        </mat-form-field>
    </form>
    <button mat-button appWhite class="buttonUpdate" (click)="updatePosto()">Atualizar</button>
</div>