div {
    width: 600px;
    height: auto;
    text-align: center;
}

h1 {
    font-size: 20px;
}

form {
    display: grid;
    margin: 25px;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.buttonUpdate {
    width: 180px;
    height: 40px;
    background-color: #78C0E0;
    margin-bottom: 50px;
    color: #FFF !important;
}