div {
    width: 57vw;
    min-height: 60vh;
    display: grid;
    height: 60vh;
    text-align: center;
    padding:  10px 20px 13px 20px;
}

h1 {
    font-size: 24px !important;
}

form {
    display: grid;
    height: 40vh;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.buttonUpdate {
    width: 27vw;
    margin-top: 50px !important;
    margin: 0 auto;
    height: 40px;
    background-color:  #21a4f0 !important;
    color: #FFF !important;
}