div {
    width: 37vw;
    height: auto;
    min-height: 60vh;
    display: grid;
    height: 68vh;
    text-align: center;
    padding:  20px 20px 0px 20px;
}

h1 {
    font-size: 24px !important;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.buttonUpdate {
    width: 180px;
    margin-top: 10px;
    margin: 0 auto;
    height: 40px;
    background-color:  #186ff3;
    color: #FFF !important;
}