.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

img{
    height: 64px;
    padding-right: 500px;
}

.home{
    gap: 10px;
}

.settings{
    gap: 10px;
    padding-left: 250px;
}

.notifications{
    gap: 10px;
}

.title-group {
    display: flex;
    gap: 30px;
}

.i {
    padding-right: 5px;
    display: flex;
}
