<mat-toolbar class="header mat-elevation-z4">
    <span class="title-group">
        <img src="/assets/img/LogoMPD.png" alt="Logo">
       <a class="home">
           <i class="material-icons v-middle">
               home
           </i>
           Início
        </a>
       <a class="notifications">
           <i class="material-icons v-middle">
               notifications
           </i>
           Notificações
       </a>
       <a class="settings">
           <i class="material-icons v-middle">
               settings
           </i>
           Configurações
       </a>
    </span>

</mat-toolbar>