h1 {
    text-align: center;
}

.dialog {
    display: grid;
    justify-content: center;
    background-color: #F8F1FF;
    gap: 30px;
}

.No {
    width: 100px;
    background-color: #02C39A !important;
}

.Yes {
    width: 95px;
    color:  #02C39A !important; 
    background-color: white;
}

.dialog {
    padding: 9px;
    height: 200px;
    border-color: #186ff3;
}

.buttons {
    margin-top: 40px;
}