main {
    text-align: center;
    width: 36vw;
    min-height: 30vh;
    height: auto;
    padding: 15px;
}

.buttonRegister {
    width: 100%;
    height: 40px;
    margin: 0 auto;
    margin-top: 25px;
    background-color: #21a4f0 !important;
}

div {
    display: flex;
    gap: 70px;
    justify-content: space-between;
    margin-top: 17px;
}