<div class="main">
    <h2>Adicionar novo posto</h2>
    <form [formGroup]="formPosto" class="form">
        <mat-form-field class="MR" appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="nome" type="text">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Telefone</mat-label>
            <input matInput formControlName="telefone" type="text">
        </mat-form-field>

        <mat-form-field class="MR" appearance="outline">
            <mat-label>Cep</mat-label>
            <input matInput formControlName="cep" (blur)="SubmitCep()" type="number">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Uf</mat-label>
            <input matInput readonly formControlName="uf" type="text" [value]="uf">
        </mat-form-field>

        <mat-form-field  class="MR"  appearance="outline">
            <mat-label>Localidade</mat-label>
            <input matInput readonly formControlName="localidade" type="text" [value]="localidade">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Bairro</mat-label>
            <input matInput readonly formControlName="bairro" type="text" [value]="bairro">
        </mat-form-field>

        <mat-form-field  class="MR"  appearance="outline">
            <mat-label>Logradouro</mat-label>
            <input matInput readonly formControlName="logradouro" type="text" [value]="logradouro">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Número</mat-label>
            <input matInput formControlName="numero" type="number">
        </mat-form-field>

        <button mat-button appWhite (click)="SubmitPosto()">Cadastrar</button>
    </form>
</div>