.form {
    display: grid;
    width: 25vw;
    height: auto;
}

.signup {
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    gap: 50px;
}

.tittle {
    font-size: 35px;
    font-weight: 700;
    font-family: 'Open Sans';
    margin-bottom: 70px;
}

.decoration {
    width: 54vw;
    height: 70vh;
}

.box {
    display: grid;
    justify-content: center;
    width: 100%;
    border-radius: 6px;
    height: auto;
    padding: 30px;
}

.upForm {
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 600;
    color: #21a4f0 ;
}

.buttons {
    display: flex;
    gap: 40px;
}

.cadastrar {
    width: 100px;
    color: white !important;
    background-color: #21a4f0 !important;
}
