.sigin {
    margin-top: 100px;
    justify-content: center;
}

.form {
    display: grid;
    width: auto;
    height: auto;
}

.tittle{
    font-size: 35px;
    font-weight: 700;
    font-family: 'Open Sans';
    margin-bottom: 70px;
}

.decoration {
    height: 89vw;
    height: 85vh;
}

.box {
    padding: 30px;
    border-radius: 6px;
}

.upForm {
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 600;
    color: #21a4f0 ;
}

.buttons {
    display: flex;
    gap: 40px;
}

.signup {
    width: 100px;
    color: white !important;
    background-color: #21a4f0 !important;
}

.login {
    width: 100px;
    color: #21a4f0 !important;
}