body {
    height: auto;
    width: auto;
}

.main {
    display: grid;
    text-align: center;
    margin: 0 auto;
    width:  80vw;
    gap: 50px;
    margin-top: 20px;
}

h4 {
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    color: white;
    font-family: 'dancing script' !important;
    padding: 4px;
    margin: 0px;
    display: flex;
    margin-top: 4px;
}

.header {
    justify-content: space-between;
}

.header .logo {
    width: 35px;
    height: 35px;
    border: 3px solid white;
}

.header > a{
    font-size: 14px;
    margin-right: 20px;
}

form {
    display: grid;
}

.formSignUp {
    display: grid;
    margin: 0 auto;
    grid-template-areas: 
        'formInfo adressForm'
        'buttonRegister buttonRegister';
        justify-items: center;
    margin-bottom: 100px;
    border-radius: 6px;
    padding: 40px;
    gap: 30px;
    text-align: center;
    background-color: rgb(242, 243, 243);
}

.adressForm {
    width: 30vw;
    margin: 0 auto;
    height: 400px;
    grid-area: adressForm;
}

.formInfo {
    width: 30vw;
    grid-area: formInfo;
    margin: 0 auto;
}

h1 {
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 600;
    color: #050505 ;
}

.upForm{
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 600;
    color: #449DD1
}

.buttonRegister {
    width: 200px;
    grid-area: buttonRegister;
    height: 40px;
    color: white !important;
    background-color: #449DD1 !important;
    margin: 0 auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* input {
    color: white !important;
} */

@media screen and (max-width:1300px) {
    .formSignUp {
        margin-top: 0px;
        display: grid;
        grid-template-columns: 1fr;
    }

    .buttonRegister {
        margin-top: 80px;
    }
}