<main>
  <mat-toolbar class="header mat-elevation-z3">
    <div>
      <h4>Vacina_Facil</h4>
    </div>
    <h3 routerLink="" appWhite>Login</h3>
  </mat-toolbar>
  <div class="back">
    <div class="teste">
      <div class="capa"></div>
      <mat-card class="register">
        <p class="upForm">Dados pessoais</p>
        <form class="formInfo" [formGroup]="form">
          <mat-form-field appearance="outline">
            <mat-label>Nome Completo</mat-label>
            <input type="text" matInput formControlName="nome"/>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>CPF</mat-label>
            <input matInput mask="000.000.000-00" formControlName="cpf"/>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Data de Nascimento</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="00/00/0000" formControlName="data_Nascimento"/>
            <mat-datepicker-toggle matIconSuffix [for]="picker" style="color: #449DD1 !important;"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Sexo</mat-label>
            <mat-select formControlName="sexo">
              <mat-option value="Masculino">Masculino</mat-option>
              <mat-option value="Feminino">Feminino</mat-option>
              <mat-option value="Outros">Outros</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>e-mail</mat-label>
            <input matInput type="email" formControlName="email"/>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Celular</mat-label>
            <input matInput mask="(00) 0000-0000"  formControlName="telefone"/>
          </mat-form-field>

        </form>
        <button class="buttonRegister" mat-button (click)="Submit()"> Próximo </button>
      </mat-card>
    </div>
  </div>
</main>