.header {
    justify-content: space-between;
    z-index: 1000;
    position: absolute;
}

main {
    height: 100vh;
}

.div {
    display: grid;
    align-items: center;
    height: 100% !important;
}

mat-card {
    display: grid;
    padding: 30px;
    margin: 0 auto;
    max-width: 400px;
    background-color: #ebebeb;
    height: 300px;
    justify-content: center;
}

mat-form-field {
    justify-content: center !important;
}

.header {
    justify-content: space-between;
}

.header .logo {
    width: 35px;
    height: 35px;
    border: 3px solid white;
}

.header>a {
    font-size: 14px;
    margin-right: 20px;
}

h4 {
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    color: white;
    font-family: 'dancing script' !important;
    padding: 4px;
    margin: 0px;
    display: flex;
    margin-top: 4px;
}

.buttonRegister {
    width: 100%;
    grid-area: buttonRegister;
    height: 40px;
    color: white !important;
    background-color: #449DD1 !important;
    margin: 0 auto;
}

.upForm {
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 600;
    color: #449DD1
}