.header {
    justify-content: space-between;
    z-index: 1000;
    position: absolute;
}

/* //https://img.freepik.com/vetores-gratis/ilustracao-do-conceito-de-politica-de-privacidade_114360-7853.jpg?t=st=1698455098~exp=1698455698~hmac=dc0d5932a76e41042827d7e4a6d8d6934e9e87e0a5da86a25daf349c26d5f21f */

main {
    background: url("./../../../assets/img/backgroud.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}

.back {
    display: flex;
    height: 100vh; 
    align-items: center;
}

.img {
    background: url("https://img.freepik.com/vetores-gratis/ilustracao-do-conceito-de-politica-de-privacidade_114360-7853.jpg?t=st=1698455098~exp=1698455698~hmac=dc0d5932a76e41042827d7e4a6d8d6934e9e87e0a5da86a25daf349c26d5f21f");
    height: 60vh;
    width: 30vw;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.cover {
    width: 90vw;
    margin-top: 50px !important;
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.password {
    width: 30vw;
    height: 60vh;
    border-radius: 0px !important;
    padding: 5px 28px 28px 28px;
    justify-content: center;
}

form {
    width: 100% !important;
    display: grid;
    height: auto;
}

mat-form-field {
    justify-content: center !important;
}

.header {
    justify-content: space-between;
}

.header .logo {
    width: 35px;
    height: 35px;
    border: 3px solid white;
}

.header>a {
    font-size: 14px;
    margin-right: 20px;
}

span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadeado {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
}

h4 {
    font-size: 23px;
    font-weight: 700;
    cursor: pointer;
    color: white;
    font-family: 'dancing script' !important;
    padding: 4px;
    margin: 0px;
    display: flex;
    margin-top: 4px;
}

button {
    width: 100%;
    height: 44px !important;
    margin-top: 35px !important;
    color: white !important;
    background-color: rgba(0,134,255,1) !important;
    margin: 0 auto;
}

.upForm {
    text-align: center;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 600;
    color: #449DD1
}