<main>
    <mat-toolbar class="header mat-elevation-z3">
        <div>
            <h4>Vacina_Facil</h4>
        </div>
        <a routerLink="" appWhite>Login</a>
    </mat-toolbar>

    <div>
        <mat-card class="password">
            <p class="upForm">Crie sua senha</p>
            <form [formGroup]="form">
                <mat-form-field appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input matInput type="password" formControlName="senha"/>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Confirmar senha</mat-label>
                    <input matInput type="password" formControlName="confirmarSenha"/>
                </mat-form-field>
                <button class="buttonRegister" mat-button (click)="submit()"> Próximo </button>
            </form>
        </mat-card>
    </div>
</main>