.header {
    justify-content: space-between;
    z-index: 1000;
    position: absolute;
}

main {
    height: 100vh; 
}

.div {
    display: flex;
    align-items: center;
    height: 100% !important;
}

h4 {
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    color: white;
    font-family: 'dancing script' !important;
    padding: 4px;
    margin: 0px;
    display: flex;
    margin-top: 4px;
}

mat-card {
    margin: 0 auto;
    min-width: 100px;
    max-width: 400px;
    height: 300px;
    text-align: center;
    justify-content: center;
}

.header {
    justify-content: space-between;
}

.header .logo {
    width: 35px;
    height: 35px;
    border: 3px solid white;
}

.header > a{
    font-size: 14px;
    margin-right: 20px;
}

form {
    justify-content: center !important;
}

.buttonRegister {
    width: 200px;
    grid-area: buttonRegister;
    height: 40px;
    color: white !important;
    background-color: #449DD1 !important;
    margin: 0 auto;
}
