<main class="main DF" *ngFor="let user of infoUser"> 
    <div class="div">
        <mat-card class="vaccines">
           <mat-card-title class="title"> Minhas vacinas </mat-card-title>
            <table mat-table class="table" [dataSource]="dataSource">
             <tr mat-header-row *matHeaderRowDef="columns"></tr>
             <tr mat-row *matRowDef="let row; columns: columns"></tr>
            
               <ng-container matColumnDef="name">
                 <th mat-header-cell *matHeaderCellDef> Tipo de Vacina </th>
                 <td mat-cell *matCellDef="let row"> {{ row.Nome }} </td>
               </ng-container>
              
               <ng-container  matColumnDef="actions">
                 <th mat-header-cell *matHeaderCellDef> Doses </th>
                 <td mat-cell *matCellDef="let row">
                   <div class="icons">
                     <a routerLink="/product/update/{{ row.id }}">
                       <mat-icon class="mat-18" color="primary">
                         edit
                       </mat-icon>
                     </a>
                     <a routerLink="/product/delete/{{ row.id }}" class="delete">
                       <mat-icon class="mat-18"> delete </mat-icon>
                     </a>
                   </div>
                 </td>
               </ng-container>
           </table>
     </mat-card>

        <mat-card class="profile ">
            <div class="name">
                <mat-card-title>{{ user.Nome }}</mat-card-title>
            </div>
            <img class="img" src="../../../assets/img/user.png">
            <p>{{ user.Email }}</p>
            <p>Data Nascimento: {{ user.Data_Nascimento | date }}</p>
        </mat-card>
    </div>
</main>