<main>

  <mat-card>
    <div class="yourProfile">
      <h2 style="font-family: Montserrat;">Perfil</h2>
    </div>
    <div class="infoUser">
      <div class="profile">
        <div class="editImg">
          <img [src]="infoUser[0].Imagem">
        </div>
        <p style="margin-top: 9px; font-size: 19px; font-family: Montserrat;"><strong>{{ infoUser[0].Nome }}</strong>
        </p>
        <p>{{ idade }} Anos</p>
        <h3 style="color: #20abfc;">Funcionário</h3>
      </div>


      <div class="data">
        <label>Nome:</label>
        <mat-form-field appearance="outline">
          <input matInput readonly [(ngModel)]="infoUser[0].Nome" type="text" />
        </mat-form-field>

        <label>Cpf:</label>
        <mat-form-field appearance="outline">
          <input mask="000.000.000-00"  matInput readonly [(ngModel)]="infoUser[0].Cpf" name="cpf"/>
        </mat-form-field>

        <label>E-mail:</label>
        <mat-form-field appearance="outline">
          <input matInput readonly [(ngModel)]="infoUser[0].Cpf" type="text" />
        </mat-form-field>

        <label>Sexo:</label>
        <mat-form-field appearance="outline">
          <input matInput readonly [(ngModel)]="infoUser[0].Sexo" type="text" />
        </mat-form-field>
        
        <!-- <div class="email">
        <h4>E-mail:</h4>
        <p>{{ user.Email }}</p>
      </div>
      <div class="sexo">
        <h4>Telefone:</h4>
        <p mask="(00) 00000-0000">{{ user.Numero_Telefone}} </p>
      </div>
      <div class="sexo">
        <h4>Sexo:</h4>
        <p>{{ user.Sexo }}</p>
      </div>
      <div class="dataNascimento">
        <h4>Data de Nascimento:</h4>
        <p>{{ user.Data_Nascimento | date }}</p>
      </div> -->
      <button appWhite mat-button (click)="updateProfile(infoUser[0].ID)" class="buttonEdit">
        Editar
      </button>
      </div>
   
    </div>

  </mat-card>
</main>