<main class="main DF">
    <aside *ngFor="let user of infoUser">
        <mat-card class="profile ">
            <div class="img" src="../../../assets/img/user.jpg"></div>
            <p>{{ user.Email }}</p>
            <p> {{ idade }} Anos </p>
        </mat-card>
    </aside>

    <mat-card class="info mat-elevation-z4">
        <mat-card-title>Minhas informções</mat-card-title>
        <form class="form">
            <mat-form-field class="MR" appearance="outline">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="cep" type="number">
            </mat-form-field>
            <mat-form-field class="MR" appearance="outline">
                <mat-label>Cep</mat-label>
                <input matInput formControlName="cep" type="number">
            </mat-form-field>
            <mat-form-field class="MR" appearance="outline">
                <mat-label>Telefone</mat-label>
                <input matInput formControlName="cep" type="number">
            </mat-form-field>
                <mat-form-field class="MR" appearance="outline">
                <mat-label>Telefone</mat-label>
                <input matInput formControlName="cep" type="number">
            </mat-form-field>
            <mat-form-field class="MR" appearance="outline">
                <mat-label>Telefone</mat-label>
                <input matInput formControlName="cep" type="number">
            </mat-form-field>
        </form>
    </mat-card> 

</main>