<mat-toolbar class="mat-elevation-z4">
    <img src="./../../../assets/img/LogoMDP.png" alt="">
</mat-toolbar>
<div class="signin df">
    <img class="img" src="../../../assets/img/Capa.png" alt="">
    <div class="login mat-elevation-z3">
        <h1 class="tittle">Login</h1>
        <p>Digite seu e-mail e senha para acessar sua conta</p>
            <form class="form" [formGroup]="form">
                <mat-form-field>
                    <mat-label>Cpf</mat-label>
                    <input matInput formControlName="cpf" ngModel required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Senha</mat-label>
                    <input type="password" matInput formControlName="senha" ngModel required>
                </mat-form-field>
                <div class="df">
                    <button class='continue' mat-button (click)="register()">Continuar</button>
                    <button class="register" mat-button (click)="cadastro()">Cadastrar</button>
                </div>
        </form>
    </div>
</div>