div {
    width: 300px;
    height: 180px;
    display: grid;
    align-items: center;
    justify-content: center;
}

button {
    width: 180px;
    height: 40px;
    color: #FFF !important;
    background-color: rgb(252, 38, 38);
    margin: 0 auto;
}