<mat-toolbar class="header mat-elevation-z2">
    <img class="logo" src="./../../../assets/img/LogoMDP.png" alt="">
    <p><strong>_vacina</strong>Facil.</p>
</mat-toolbar>

<div class="login mat-elevation-z3">
    <h1 class="title">Login</h1>
    <p>Digite seus dados de acesso nos campos abaixo</p>
    <form class="form" [formGroup]="form">
        <mat-form-field appearance="outline">
            <mat-label>Cpf</mat-label>
            <input matInput type="number" formControlName="cpf" ngModel required>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input type="password" matInput formControlName="senha" ngModel required>
        </mat-form-field>
        <div class="DF">
            <button class="continue" mat-button (click)="Register()">Continuar</button>
            <button class="register" mat-button routerLink="/signUp">Cadastrar</button>
        </div>
    </form>
</div>

