<mat-toolbar  class="header">
    <img src="../../../../assets/img/LogoMDP.png" alt="Logo" routerLink="home">
    <div class="title">
        <a class="home" (click)="activeButton = 1" [ngClass]="{'colorButton': activeButton === 1}" routerLink="home" >
            <i class="material-icons v-middle">
                home
            </i>
            Início
         </a>
        <a (click)="activeButton = 2" [ngClass]="{'colorButton': activeButton === 2}" class="notifications">
            <i class="material-icons v-middle">
                notifications
            </i>
            Notificações
        </a>
        <a (click)="activeButton = 3" [ngClass]="{'colorButton': activeButton === 3}" routerLink="profile"> 
            <i class="material-icons v-middle">
                person
            </i>
            Perfil
        </a>
        <a (click)="activeButton = 4" [ngClass]="{'colorButton': activeButton === 4}" class="settings">
            <i class="material-icons v-middle">
                settings
            </i>
            Configurações
        </a>
    </div>
    <a class="exit">
        <i class="material-icons v-middle">
            exit_to_app
        </i>
        Sair
    </a>
</mat-toolbar>