.div {
    width: 350px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 12px;
}

.delete {
    width: 150px;
    height: 40px;
    color: #FFF !important;
    background-color: rgb(252, 38, 38);
}

.cancelar {
    width: 150px;
    height: 40px;
    color: rgb(252, 38, 38) !important;
    background-color: FFF;
}

.buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 100px;
}

h2 {
    padding-bottom: 9px;
    box-shadow: 0 1px#0000001a;
}
