main {
    width: 22vw;
    height: 40%;
    padding: 15px;
    text-align: center;
}

form {
    display: grid;  
    width: 20vw;
    margin-top: 0 auto;
    margin-top: 65px !important;
    justify-content: center;
    height: auto;
}

.icon {
    width: 80px;
    height: 80px;
}

button {
    color: white;
    background-color:    #21a4f0;
    margin-bottom: 20px !important  ;
}

h2 {
    margin-bottom: 0 !important;
}