main {
    width: 29vw !important;
    height: 48%;
    text-align: center;
    padding: 15px 15px 0px 15px;
}

form {
    display: grid;
    width: 29vw;
    margin-top: 39px !important;
}

.icon {
    width: 80px;
    height: 80px;
}

button {
    color: white;
    background-color: #21a4f0;
    margin-bottom: 20px !important;
}

h2 {
    margin-bottom: 0 !important;
    margin-top: 25px;
}
span {
    width: 100%;
    display: flex;
    justify-content: end;
 }

.close {
    color: #1e3241 !important;
    cursor: pointer;
}