main {
  display: grid;
  height: 100% !important;
  justify-items: center;
}

.employee {
  gap: 20px;
  width: 97%;
  margin-top: 35px;
  padding: 20px;
  background-color: #ebebeb;
  margin-bottom: 50px;
}

.div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  width: 50vw;
}

.even-row {
  background-color: #eee;
}

.odd-row {
  background-color: white;
}

.vinculo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.employee > span {
  display: flex;
  margin-top: 28px;
  height: 50px;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 9px;
}

table {
  background-color: #eceaea !important;
}

h2 {
  margin-bottom: 0;
}

.icons {
  display: flex;
  gap: 10px;
}

button {
  width: 200px !important;
  color: white !important;
  height : 50px !important;
  background-color: #21a4f0!important;
}

.delete {
  color: rgb(192, 21, 21);
}

.edit {
  color: rgb(233, 154, 36);
}

a {
  cursor: pointer;
}

@media screen and (max-width > 1300px) {
  span {
    display: grid;
    height: 30vh;
    justify-content: center;
  }

}