<main>
  <span class="search">
    <mat-form-field style="width: 60vh; height: 70px;" appearance="outline">
      <input matInput placeholder="Pesquise aqui um Funcionário" type="search" (keyup)="search($event)"/>
      <mat-icon matSuffix> search </mat-icon>
    </mat-form-field>
  </span>

  <mat-card class="employee">
    <span>
      <mat-card-title>Funcionários ativos</mat-card-title>
      <div class="vinculo">
        <mat-form-field style="height: 70px !important; ">
          <mat-label>Selecione um Posto</mat-label>
          <mat-select (selectionChange)="onSelectionChange($event)">
            <mat-option *ngFor="let posto of postos" [value]="posto.Posto_ID">
              {{ posto.Nome_do_Posto }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      <button class="addEmployee" mat-button class="registerEmployee" (click)="openSigUn()">
        Vincule um Funcionário
      </button>
    </div>
    </span>
    <table mat-table class="table-posto" [dataSource]="dataSource">
      <tr mat-header-row *matHeaderRowDef="columnEmployee"></tr>
      <tr mat-row *matRowDef="let row; columns: columnEmployee"></tr>
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let row">{{ row.Nome_Pessoa }}</td>
      </ng-container>
      <ng-container matColumnDef="cargo">
        <th mat-header-cell *matHeaderCellDef>Cargo</th>
        <td mat-cell *matCellDef="let row">{{ row.Cargo }}</td>
      </ng-container>
 
      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let row">
          <div class="icons">
            <a class="edit" (click)="employeeUpdate(row.ID_Usuario)">
              <mat-icon class="mat-18" > edit </mat-icon>
            </a>
            <a class="delete"  (click)="employeeDelete(row.ID_Funcionario)">
              <mat-icon class="mat-18"> delete </mat-icon>
            </a>
          </div>
        </td>
      </ng-container>
    </table>
  </mat-card>
</main>
