main {
    width: 70vw;
    height: auto ;
    text-align: center;
    display: grid;
    margin: 0 auto;
    margin-top: 34px;
}

.employee {
    max-width: 55vw;
    margin-top: 30px;
    height: 50vh;
    gap: 40px;
    background-color: #d4d4d4;
    border: 1px solid black;
    margin-bottom: 50px;
}

.search {
    max-width: 100%;
    display: flex;
    gap: 40px;
    margin-bottom: 40px;
}

table{
    background-color: #d4d4d4 !important;
    width: auto;
}

.registerEmployee {
    width: 50px;
    background-color: #45a4cc;
    color: white !important;
}

input {
    width: 30vw;
    padding: 5px;
    height: 7px;
    border-radius: 4px;
    padding: 13px;
    background-color: #ececec;
    font-size: 14px;
    margin-left: 0;
    border: 2px solid #45a4cc;
    outline: none;
} 


.icons {
    display: flex;
    gap: 10px;
}

.add {
    font-size: 20px !important;
}

.delete {
    color: rgb(192, 21, 21);
}

.edit {
    color: rgb(233, 154, 36);
}

