main {
  display: grid;
  height: 100% !important; 
  justify-items: center;
}

.employee {
  min-width: 50vw;
  gap: 20px;
  width: 90vw;
  margin-top: 40px;
  padding: 15px;
  background-color: #f8f7f7;
  margin-bottom: 50px;
}
.div {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  width: 50vw;
}

.even-row { background-color: #eee; }

.odd-row { background-color: white; }

.vinculo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.employee > span {
  display: flex;
  height: 50px;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0;
}

table {
  background-color: #eceaea !important;
}

h2 {
  margin-bottom: 0;
}

.icons {
  display: flex;
  gap: 10px;
}

.add {
  font-size: 20px !important;
}

.delete {
  color: rgb(192, 21, 21);
}

.edit {
  color: rgb(233, 154, 36);
}

a {
  cursor: pointer;
}
