main {
    width: 22vw;
    height: 74vh;
    padding: 25px;
    text-align: center;
}

form {
    display: grid;  
    width: 20vw;
    margin-top: 25px !important;
    margin: 0 auto;
    height: 30vh;
}

.icon {
    width: 80px;
    height: 80px;
}

button {
    color: white;
    background-color:   #449dd1;
    margin-bottom: 20px !important  ;
}

h2 {
    margin-bottom: 0 !important;
}