<main>
    <h2>Vacina</h2>
    <form class="form">
        <mat-form-field class="MR" appearance="outline">
            <mat-label>Vacina</mat-label>
            <input matInput type="text">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Telefone</mat-label>
            <input matInput type="text">
        </mat-form-field>
        <mat-form-field class="MR" appearance="outline">
            <mat-label>Cep</mat-label>
            <input matInput type="number">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Uf</mat-label>
            <input matInput readonly type="text">
        </mat-form-field>
        <mat-form-field class="MR" appearance="outline">
            <mat-label>Localidade</mat-label>
            <input matInput readonly type="text" >
        </mat-form-field>
        <button mat-button appWhite>Cadastrar</button>
    </form>
</main>