.home{
    box-shadow: 0 2px 4px rgba(0,0,0,0.24),
    0 0 2px rgba(0,0,0,0.12);
}

.title{
    font-size: 3rem;
    font-weight: 400;
    margin-top: 10px;
}

.subtitle{
    margin-top: 40px;
    font-size: 1.1em;
}