main {
    padding: 20px;
}

.card {
    padding: 15px;
    background-color: #6cd8c1;
    margin-bottom: 60px;
}

.card .title {
    font-size: 40px;
}

.caixas {
    width: 100%;
    height: 500px;
    display:  flex;
    justify-content: center;
    gap: 50px;
}

.cards {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    justify-items: center;
}

.sub {
    width: 100%;
}

mat-card {
    width: 20vw;
    height: 40vh;
    box-shadow: 0.1px 4px 10px rgba(0, 0, 0, 0.2)
}

.conec {
    margin-top: 80px;
}

.button {
    width: 200px;
    background-image: url('../../../assets/img/poupaTempo.png');
    height: 100px;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
}

.caixas .box {
    width: 20vw;
    height: 30vh;
    border-radius: 7px;
    margin-top: 40px;
}

.caixas .c1 {
    background-size: cover;
    background-size: cover;
    background-image: url('../../../assets/img/img1.png');
}

.caixas .c2 {
    background-size: cover;
    background-image: url('../../../assets/img/img2.jpeg');
}

.caixas .c3 {
    background-size: cover;
    background-image: url('../../../assets/img/img3.jpeg');
    background-position: center;
}

.subtitle {
    font-size: 18px;
    margin-top: 40px;
}

.text {
    color: black;
}

@media screen and (max-width: 660px) {
    .cards {
        grid-template-columns: 1fr 1fr;
    }
}