<main>
  <mat-card>
    
    <mat-form-field style="width: 98vh; align-content: center;" appearance="outline">
      <input matInput placeholder="Procure um Posto" type="search"/>
      <mat-icon matSuffix> search </mat-icon>
    </mat-form-field>
    <div class="age">
      <div style="text-align: center;">
        <div class="DIV">
          <img class="imgBaby" src="../../../assets/img/baby.png"/>
        </div>
        <p style="font-family: Montserrat;">Bebê</p>
      </div>
      <div style="text-align: center;">
        <div class="DIV">
          <img class="teenager" src="../../../assets/img/teenager.png"/>
        </div>
        <p style="font-family: Montserrat;">Adolescente</p>
      </div>
      <div style="text-align: center;">
        <div class="DIV">
          <img src="../../../assets/img/adult.png" />
        </div>
        <p style="font-family: Montserrat;">Adulto</p>
      </div>
    </div>

    <span>
      <h2 style="font-family: Montserrat; margin: 0px;">Cateira</h2>
      <mat-icon *ngIf="isFuncionario" class="add" (click)="CreateCarteira()">add</mat-icon>
    </span>
    <table mat-table [dataSource]="dataSource">
      <tr style="background-color: rgb(238, 238, 238);"
          mat-header-row *matHeaderRowDef="columnCarteira"></tr>
      <tr mat-row *matRowDef="let row; columns: columnCarteira; let i = index;"
        [ngClass]="{'even-row':i%2===0,'odd-row': i % 2 === 1}"></tr>

      <ng-container matColumnDef="vacinas">
        <th style="border-radius:  5px 0 0 5px !important;" mat-header-cell *matHeaderCellDef>Vacinas</th>
        <td mat-cell *matCellDef="let row"> {{row.Nome_Vacina}}</td>
      </ng-container>

      <ng-container matColumnDef="doses">
        <th mat-header-cell *matHeaderCellDef>Doses</th>
        <td mat-cell *matCellDef="let row"></td>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <th style="border-radius: 0 5px 5px 0;" mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let row">
          <div class="icons">
            <a class="edit">
              <mat-icon class="mat-18"> edit </mat-icon>
            </a>
            <a class="delete" >
              <mat-icon class="mat-18"> delete </mat-icon>
            </a>
          </div>
        </td>
      </ng-container>
    </table>
  </mat-card>

</main>

<!-- (click)="deleteVacinaCarteira(row.Vacina_ID) -->