.main {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  margin: 20px  ;
  width: 100%;
  height: auto;
}

.div {
  display: flex;
  width: auto;
  height: auto;
  gap: 90px;
}

.vaccine {
  width: 80vw;
  height: auto;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

table {
  background-color: #c9c9c9 !important;
}

.profile {
  display: grid;
  justify-items: center;
  margin-bottom: 50px;
  width: 300px;
  height: 450px;
  padding: 15px;
}

.title {
  margin-bottom: 30px;
}

.vaccine > .addV {
  justify-content: end;
}

.addVaccines {
  width: 140px;
  height: 30px;
  color: #FFF !important;
  background-color:  #449dd1;
  margin-bottom: 10px;
}

.age {
  display: flex;
  gap: 70px;
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: center;
}

.DIV {
  display: flex;
  justify-content: center;
  width: 80px;
  height: 80px;
  align-items: center;
  border-radius: 100%;
  border: 1px solid #449dd1;
  margin-bottom: 7px;
}

.DIV > img {
  width: 50px;
  height: 50px;
  display: grid;
}

mat-card {
  background-color: rgb(248, 248, 248) !important;
  box-shadow: 0 2px 4px #00000026, 0 4px 5px #0000001a, 0 1px 10px #0000001a;
}

.DIV:hover {
  background-color: #449dd1;
  cursor: pointer;
}

.name {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
  border-bottom: 2px solid #26bd7e;
}

.img {
  width: 160px;
  height: 160px;
  border-radius: 100%;
}

.teenager {
    padding-left: 5px;
}

@media screen and (max-width: 1050px) {
  .main {
    margin-top: 35px !important;
  }

  .div {
    display: grid;
    justify-items: center;
    gap: 30px;
  }
}

@media screen and (max-width: 660px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
