<main>
    <mat-card  class="card mat-elevation-z3">
        <mat-card-title appWhite class="title">Vacina fácil</mat-card-title>
        <mat-card-subtitle appWhite class="subtitle">o VacinaFácil é um sistema que permite que a carteira de vacinação possa ser acessada digitalmente, 
            desde que tenha sido vinculada ao sistema por meio do Poupatempo. Com a solução, problemas como a perda ou ausência do documento físico são solucionados, 
            evitando a necessidade de buscar uma segunda via em postos de saúde. Além disso, o sistema oferece diversas vantagens, 
            como a consulta das vacinas tomadas, agendamento de novas doses, programação de lembretes e acompanhamento do calendário de vacinação.
        </mat-card-subtitle>
    </mat-card>

    <div class="caixas">
        <div class="box c1">
            <mat-card-title  class="text"></mat-card-title>
        </div>
        <div class="box c2">
            <mat-card-title  class="text"></mat-card-title>
        </div>
        <div class="box c3">
            <mat-card-title  class="text"></mat-card-title>
        </div>
    </div>
</main>

