main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 16px 20px 0px 20px;
  height: auto;
}

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  box-shadow: 0 1px#0000001a;
}

mat-form-field {
  width: 22vw !important;
}

mat-card {
  margin-top: 20px;
  width: 100% !important;
  padding: 20px;
  height: auto;
  margin-bottom: 100px;
}

mdc-data-table__cell,
.mdc-data-table__header-cell {
  border-bottom: 0;
}

.even-row {
  background-color: #eee;
}

.odd-row {
  background-color: white;
}

table {
  margin-top: 20px;
}

.noContent {
  width: 330px;
  height: 260px;
  min-height: 260px;
  min-width: 280px;
}

.register {
  display: flex;
  gap: 20px;
  align-items: center;
}

.alinC {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notVacina {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 110px;
}

.age {
  display: flex;
  align-items: center !important;
  gap: 70px;
  margin-top: 5px;
  margin-bottom: 5px;
  justify-content: center;
}

.addV {
  display: flex;
  justify-content: end;
  margin-top: 35px;
  margin-bottom: 0;
}

.teste {
  width: 100px;
  display: grid;
  justify-items: center;
}

.DIV {
  display: flex;
  justify-content: center;
  width: 80px;
  height: 80px;
  text-align: center;
  align-items: center;
  border-radius: 100%;
  border: 1px solid #449dd1;
  margin-bottom: 7px;
}

.DIV>img {
  width: 50px;
  height: 50px;
  display: grid;
}

.DIV:hover {
  background-color: #449dd1;
  transition: 0.7s;
  cursor: pointer;
}

.add {
  cursor: pointer;
  margin-right: 13px;
  font-size: 30px !important;
  color: blue !important;
}

.img {
  width: 160px;
  height: 160px;
  border-radius: 100%;
}

.icons {
  display: flex;
  gap: 10px;
}

.delete {
  color: rgb(192, 21, 21);
  cursor: pointer;
}

.edit {
  color: rgb(233, 154, 36);
  cursor: pointer;
}

.teenager {
  padding-left: 5px;
}

@media screen and (max-width: 1050px) {
  .main {
    margin-top: 35px !important;
  }

  .div {
    display: grid;
    justify-items: center;
    gap: 30px;
  }
}

@media screen and (max-width: 660px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}