@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');


html,
body {
  height: 100%;
}

body {
  background-color: rgb(223, 223, 223);
  margin: 0;
  font-family: Roboto,
    "Helvetica Neue",
    sans-serif;
}

.v-middle {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: rgb(43, 43, 43);
}

.mat-mdc-snack-bar-container {
  &.success {
    --mdc-snackbar-container-color: #26bd7e;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}

.mat-mdc-snack-bar-container {
  &.error {
    --mdc-snackbar-container-color: #fd1100d8;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}

.mat-mdc-snack-bar-container {
  &.info {
    --mdc-snackbar-container-color: #ff9100;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}

.mat-mdc-snack-bar-container {
  &.common {
    --mdc-snackbar-container-color: #26bd7e;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}

.DF {
  display: flex;
}

.logo {
  width: 64px;
  height: 64px;
}

.header {
  display: flex;
  top: 0;
  z-index: 1000;
  background-color: #007069;
}

.footer {
  background-color: #02C39A;
}

.DG {
  display: grid;
}

.white {
  color: white;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}