@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.v-middle {
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.msg-success {
    background-color: #28a745 !important;
    color: white;
}
