.div {
    width: 350px;
    height: 180px;
    text-align: center;
    padding-bottom: 7px;
}

.delete {
    width: 150px;
    height: 40px;
    color: #FFF !important;
    background-color: rgb(252, 38, 38);
}

.cancelar {
    width: 150px;
    height: 40px;

    color: rgb(252, 38, 38) !important;
    background-color: FFF;
}

.buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 100px;
}

