.header {
    width: 100%;
    justify-content: space-between;
}

.header .logo {
    width: 35px;
    height: 35px;
    border: 3px solid white;
    margin-right: 20px;
}

.header a {
    display: flex;
    text-decoration: none;
    gap: 10px;
}

mat-nav-list {
    width: 200px !important;
}

.mat-toolbar .mat-mdc-button-base.mat-unthemed {
    color: white !important;
}

mat-icon {
    font-size: 18px;
}

.header > div {
    display: flex;
}

h4 {
    font-size: 20px;
    font-weight: 700;
    font-family: 'dancing script' !important;
}

p {
    font-size: 14px;
    color: black !important;
    align-items: center;
}

h4 {
    color: white;
    padding: 4px;
    margin: 0px;
    display: flex;
    margin-top: 4px;
}

.name {
    padding: 4px;
    margin: 0px;
    margin-top: 4px;
}

.exit {
    cursor: pointer;
    color: rgb(0, 0, 0) !important;
    font-size: 20px;
}

.img {
    width: 38px;
    height: 38px;
    border-radius: 50px;
}

.profile {
    display: flex;
    cursor: pointer;
    gap: 10px;
    margin-right: 20px;
}

.end {
    display: flex;
    justify-content: end;
}