.header {
    background-color: #5fbff9;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 10px;
    color: whitesmoke;
}

.title {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.title .colorButton {
    color: #21a4f0;
}

img {
    height: 64px;
}

.i {
    padding-right: 5px;
    display: flex;
}

.exit {
    cursor: pointer;
}