<mat-toolbar class="header mat-elevation-z4">
  <div>
    <img class="logoHeader" src="../../../../assets/img/logoheader.png">
</div>
  <span class="end">
    <div routerLink="profile" class="profile">
      <img class="img v-middle" [src]="user[0].Imagem">
      <h3 class="name white"> {{ user[0].Nome }} </h3>
    </div>

    <a mat-list-item *ngIf="user[0].Funcionario == 0" (click)="openLogoutDialog()">
      <div class="exit">
        <mat-icon class="icon" appWhite> exit_to_app </mat-icon>
        <h3 class="name white">Sair</h3>
      </div>
    </a>

  </span>
</mat-toolbar>