.main {
   padding: 25px;
   text-align: center;
}

form {
   height: 42vh;
   width: 36vw;
   display: grid;
   text-align: center;
   justify-content: center;
   grid-template-columns: 1fr 1fr;
   margin-top: 20px;
   margin-bottom: 20px;
   background-color: transparent;
}

.buttonRegister {
   width: 140px;
   margin-top: 17px !important;
   margin: 0 auto;
   background-color: #21a4f0 !important;
}

.MR {
   margin-right: 20px;
}

.localIcon {
   width: 80px;
   height: 80px;
   grid-area: icon;
}