.main {
   padding: 25px;
   width: 50vw;
   text-align: center;
}

form {
   height: 42vh;
   width: 50vw;
   display: grid;
   text-align: center;
   grid-template-columns: 1fr 1fr;
   margin-top: 25px;
   margin: 0 auto;
   margin-bottom: 20px;
   background-color: transparent;
}

.buttonRegister {
   width: 140px;
   height: 50px;
   margin: 0 auto;
   background-color: #21a4f0 !important;
}

mat-form-field {
   width: 93% !important;
   margin: 0 auto;
}

.localIcon {
   width: 80px;
   height: 80px;
   grid-area: icon;
}