@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&display=swap');

main {
    background: url("./../../../assets/img/backgroud.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}

.header {
    width: 100%;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    width: 35px;
    height: 35px;
    border: 3px solid white;
}

.header > strong {
    font-weight: 600;
}

h4 {
    font-size: 23px;
    cursor: pointer;
    color: white;
    font-family: 'dancing script' !important;
    padding: 4px;
    margin: 0px;
    display: flex;
    margin-top: 4px;
}

.header p > a {
    font-size: 14px;
    color: white;
    padding: 4px;
    display: flex;
}

.login {
    width: 28%;
    height: 55vh;
    flex-wrap: nowrap;
    box-sizing: border-box;
    display: grid;
    background-color: rgb(235, 235, 235);
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    align-items: center;
    padding: 18px 20px 0px 20px;
    border-radius: 6px;
}

.login .title {
    font-size: 60px;
    font-weight: 600;
    font-family: 'dancing script';
    margin-bottom: 50px;
}

.login p {
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 600;
    color:#449DD1;
}

.form {
    display: grid;
}

form > div {
    margin-bottom: 10px ;
}

button {
    width: 100%;
    margin: 0 auto;
    height: 40px !important;
    margin-top: 0;
    color: rgb(255, 255, 255) !important;
    background-color:#449DD1 !important;
}

a {
    margin-top: 15px;
}

