@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&display=swap');

main {
    background: url("./../../../assets/img/backgroud.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}

.header {
    width: 100%;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    width: 35px;
    height: 35px;
    border: 3px solid white;
}

.header > strong {
    font-weight: 600;
}

h4 {
    font-size: 23px;
    font-weight: 700;
    cursor: pointer;
    color: white;
    font-family: 'dancing script' !important;
    padding: 4px;
    margin: 0px;
    display: flex;
    margin-top: 4px;
}

.header p > a {
    font-size: 16px;
    color: white;
    padding: 4px;
    display: flex;
}

.login {
    width: 28%;
    height: 55vh;
    display: grid;
    background-color: rgb(235, 235, 235);
    margin: 0 auto;
    text-align: center;
    margin-top: 70px;
    align-items: center;
    border-radius: 6px;
    padding: 30px;
}

.login .title {
    font-size: 60px;
    font-weight: 600;
    font-family: 'dancing script';
    margin-bottom: 50px;
}

.login p {
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 600;
    color:#449DD1;
}

.login .form {
    display: grid;
    width: auto;
}

form > div {
    margin-bottom: 10px ;
}

.continue {
    width: 100%;
    margin: 0 auto;
    color: rgb(255, 255, 255) !important;
    background-color:#449DD1 !important;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

a {
    margin-top: 15px;
}

@media screen and (max-width:1300px) {

    .login {
        display: grid;
        justify-content: center;
        align-items: center;
        width: 49vw;
        border-radius: 6px;
        padding: 30px;
    }
}
