<main>
    <mat-toolbar class="header mat-elevation-z2">
        <div>
            <h4>Vacina_Facil</h4>
        </div>
        <p> <a routerLink="/signUp">Não tem uma conta ? Cadastre-se </a> </p>
    </mat-toolbar>

    <mat-card class="login">
        <img src="../../../assets/img/LogoMDP.png">
        <form class="form" [formGroup]="form">
            <p>Digite seus dados de acesso nos campos abaixo:</p>
            <mat-form-field appearance="outline">
                <mat-label>CPF</mat-label>
                <input matInput type="number" formControlName="cpf" ngModel required>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Senha</mat-label>
                <input type="password" matInput formControlName="senha" ngModel required>
            </mat-form-field>
            <div class="DF">
                <button mat-button (click)="Register()">Continuar</button>
            </div>
        </form>
    </mat-card>
</main>