@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&display=swap');

main {
    background: url("./../../../assets/img/backgroud.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}

.header {
    width: 100%;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    width: 35px;
    height: 35px;
    border: 3px solid white;
}

.header > strong {
    font-weight: 600;
}

h4 {
    font-size: 23px;
    cursor: pointer;
    color: white;
    font-family: 'dancing script' !important;
    padding: 4px;
    margin: 0px;
    display: flex;
    margin-top: 4px;
}

.header > h3 {
    color: white;
    padding: 4px;
    cursor: pointer;
    margin-top: 15px;
    display: flex;
}

.login {
    width: 30%;
    min-width: 400px !important;
    height: 57vh;
    min-height: 65vh !important;
    display: grid;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    align-items: center;
    border-radius: 2px !important;
    padding: 8px 20px 20px 20px;
    border-radius: 6px;
}

img {
    margin: 0 auto;
    width: 240px;
    height: 170px;
}

p {
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 600;
    color:#449DD1;
}

.form {
    min-height: 19vh;
    display: grid;
}

form > div {
    margin-bottom: 10px ;
}

button {
    width: 100%;
    margin: 0 auto;
    height: 40px !important;
    margin-top: 0;
    color: rgb(255, 255, 255) !important;
    background-color: rgb(21, 142, 249) !important;
}

a {
    margin-top: 15px;
}

