<main>
    <mat-toolbar class="header mat-elevation-z2">
        <div>
            <h4>Vacina_Facil</h4>
        </div>
            <h3  style="font-family: Montserrat; cursor: default;">Não possui uma conta? <strong routerLink="/signUp" style="padding-left: 10px; cursor: pointer; padding-right: 10px;">Cadastre-se</strong> </h3>
    </mat-toolbar>

    <mat-card class="login">
        <img src="../../../assets/img/teste.png">
        <form class="form" [formGroup]="form">
            <div>
                <p>Digite seus dados de acesso nos campos abaixo:</p>
            </div>
            <mat-form-field appearance="outline">
                <mat-label>CPF</mat-label>
                <input matInput formControlName="cpf" mask="000.000.000-00" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Senha</mat-label>
                <input type="password" matInput formControlName="senha" required>
            </mat-form-field>
            <button mat-button (click)="Register()">Continuar</button>
        </form>
    </mat-card>
</main>