<mat-sidenav-container class="container" color="primary">
    <mat-sidenav class="sidenav"  mode="side" opened 
    fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/perfil">
                <i class="material-icons">
                    person
                </i>
                Perfil
            </a>
            <a mat-list-item routerLink="calendario">
                <i class="material-icons v-middle" >
                    event
                </i>
            Calendário 
            </a>
            <a mat-list-item routerLink="agendamentos">
                <i class="material-icons v-middle">
                    schedule
                </i>
            Agendamentos
            </a>
            <a mat-list-item routerLink="registros">
                <i class="material-icons v-middle" >
                    assignment
                </i>
            Registros
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>