div {
    width: 600px;
    height: 600px;
}

h1 {
    font-size: 20px;
}

.delete {
    width: 180px;
    height: 40px;
    background-color: #78C0E0;
    margin-bottom: 50px;
    color: #FFF !important;
}