.tabela {
    display: flex;
    margin: 0 auto;
    width: 450px;
    height: 300px;
    border: 1px solid black;
}

p {
   height: 20px;    
}

.nome {
    width: 150px;
    display: flex;
    height: 100%;
}

.idade {
    width: 150px;
    display: flex;
    height: 100%;
}

.profissao {
    width: 150px;
    display: flex;
    height: 100%;
}