<div class="main DG">
  <button mat-button (click)="openSigUn()"><mat-icon> add </mat-icon></button>
  <mat-card>
    <table mat-table class="table-posto" [dataSource]="dataSource">
      <tr mat-header-row *matHeaderRowDef="columnEmployee"></tr>
      <tr mat-row *matRowDef="let row; columns: columnEmployee"></tr>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Posto</th>
        <td mat-cell *matCellDef="let row">{{ row.Nome }}</td>
      </ng-container>
      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef>Cidade</th>
        <td mat-cell *matCellDef="let row">{{ row.Localidade }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let row">
          <div class="icons">
            <a class="edit" routerLink="/product/update/{{ row.id }}">
              <mat-icon class="mat-18"> edit </mat-icon>
            </a>
            <a class="delete" routerLink="/product/delete/{{ row.id }}" class="delete">
              <mat-icon class="mat-18"> delete </mat-icon>
            </a>
          </div>
        </td>
      </ng-container>
    </table>
  </mat-card>
</div>