<div class="DF">
  <mat-card>

    <mat-table class="table " mat-table [dataSource]="dados">
      <tr mat-header-row *matHeaderRowDef="colunas"></tr>
      <tr mat-row *matRowDef="let d; columns: colunas"></tr>
    
        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef> Posto </th>
          <td mat-cell *matCellDef="let d"> {{d.nome}} </td>
        </ng-container>
      
        <ng-container matColumnDef="localidade">
          <th mat-header-cell *matHeaderCellDef> Localidade </th>
          <td mat-cell *matCellDef="let d"> {{d.localidade}} </td>
        </ng-container>

        <ng-container matColumnDef="bairro">
          <th mat-header-cell *matHeaderCellDef>Bairro</th>
          <td mat-cell *matCellDef="let d"> {{d.bairro}} </td>
        </ng-container>
      
    </mat-table>
  </mat-card>
</div>

<div class="DF">
  <button mat-button routerLink="postos"> Registrar Postos </button>
</div>
<router-outlet></router-outlet>