mat-card {
    width: 30%;
    height: auto;
    box-shadow: 0.1px 4px 10px rgba(0, 0, 0, 0.2)
}

.main {
    width: 100%;
    gap: 40px;
    margin-top: 30px;
    margin-left: 5vw;
    margin-bottom: 50px;
}

.table-posto {
    height: auto;
}

.icons {
    display: flex;
    gap: 10px;
}

.delete {
    color: rgb(192, 21, 21);
}

.edit {
    color: rgb(233, 154, 36);
}

mat-icon {
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .main
    {
        width: auto;
        display: block;
    }
}