main {
    gap: 40px;
    height: 100vh;
    margin-top: 30px;
    grid-template-columns: 1fr 1fr;
    margin-left: 5vw;
    margin-bottom: 50px;

}

.postos{
    width: 50vw;
    height: 40vh;
}

.registerPosto {
    width: 180px;
    height: 40px;
    background-color: #78C0E0;
    margin-bottom: 50px;
    color: #FFF !important;
}

.registerEmployees {
    width: 250px;
    height: 40px;
    background-color: #78C0E0;
    margin-bottom: 50px;
    color: #FFF !important;
}

.icons {
    display: flex;
    gap: 10px;
}

.delete {
    color: rgb(192, 21, 21);
}

.edit {
    color: rgb(233, 154, 36);
}

mat-icon {
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .main
    {
        width: auto;
        display: block;
    }
}