<div class="div">
  <h3  style="font-family: Montserrat;">Atualize suas informações</h3>
  <form class="form">
    <img [src]="imageUrl" style="width: 50px; height: 50px;">
    <button type="button" class="teste" mat-raised-button (click)="fileInput.click()" style="margin-bottom: 20px;">Choose File</button>
    <input hidden (change)="onFileSelected($event)"  #fileInput type="file">
    <mat-form-field class="MR" appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput name="nome" type="text" [(ngModel)]="profile.Nome"/>
    </mat-form-field>
    <mat-form-field class="MR" appearance="outline">
      <mat-label>Cpf</mat-label>
      <input matInput name="cpf" [(ngModel)]="profile.Cpf" type="number"/>
    </mat-form-field>
    <mat-form-field class="MR" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput name="email" type="email" [(ngModel)]="profile.Email" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Sexo</mat-label>
      <mat-select  [(ngModel)]="profile.sexo" name="sexo">
        <mat-option value="Masculino">Masculino</mat-option>
        <mat-option value="Feminino">Feminino</mat-option>
        <mat-option value="Outros">Outros</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="teste" style="width: 30px; height: 30px;"></div>
    <button mat-button (click)="updateProfile()" appWhite>Atualizar</button>
  </form>
</div>
