.div {
    display: grid;
    text-align: center;
    width: 30vw;
    padding:  10px 30px 20px 30px;
    height: auto;
    justify-items: center;
}

button {
    color: white;
    background-color:  #21a4f0;
}

form {
    display: grid;
    width: 100%;
}
