.div {
    display: grid;
    text-align: center;
    width: 4   0vw;
    padding: 20px;
    height: auto;
}

button {
    color: white;
    background-color:  #78C0E0;
}

form {
    display: grid;
    padding: 20px;
}