<mat-sidenav-container class="container" color="primary">
    <mat-sidenav class="sidenav" mode="side" [(opened)]="opened">
        <mat-nav-list class="nav-list DF">
            <a mat-list-item routerLink="calendar">
                <mat-icon class="v-middle" appWhite>event </mat-icon>
                <span class="white"> Calendário </span>
            </a>
            <a mat-list-item>
                <mat-icon class="v-middle" appWhite>schedule</mat-icon>
                <span class="white"> Agendamentos </span>
            </a>
            <a mat-list-item routerLink="register">
                <mat-icon class="v-middle" appWhite>assignment</mat-icon>
                <span class="white"> Registros </span>
            </a>
            <a mat-list-item>
                <mat-icon class="v-middle" appWhite>notifications</mat-icon>
                <span class="white"> Notificações </span>
            </a>
            <a mat-list-item routerLink="profile">
                <mat-icon appWhite class="v-middle">  person  </mat-icon>
                <span class="white"> Perfil </span>
            </a>
            <a mat-list-item>
                <mat-icon appWhite class="v-middle" >  settings  </mat-icon>
                <span class="white"> Configurações </span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <router-outlet class="outlet"></router-outlet>
</mat-sidenav-container>