.sidenav {
  position: fixed;
  margin-top: 100px !important;
  width: 200px;
  height: 80vh;
  border-radius: 0px 6px 6px 0px;
  background: rgb(42, 42, 235);
background: linear-gradient(360deg, rgb(13, 13, 240) 5%,   rgb(18, 18, 230)13%, rgba(0,134,255,1) 100%);
  transition: width 0.3s;
}

.sidenav:hover {
  width: 200px;
}

.teste {
  display: flex;
  flex-direction: column;
  justify-content: space-around !important;
}

::ng-deep a:hover {
  background-color: white;
}

a:hover mat-icon {
  color: #1376f7 !important;
}

a:hover span {
  color: #1376f7 !important;
}

.container {
  width: auto;
  background-color: rgba(255, 255, 255, 0.048);
}

.nav-list {
  padding-top: 16px;
}

.arrow-icon {
  padding-left: 10px;
  transition: transform 0.3s ease;
  font-size: 20px;
}

.arrow-icon.rotated {
  transform: rotate(360deg);
}

.fade-in {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.icon {
  padding-right: 18px;
  width: 30px;
}

.div {
  display: flex;
  width: auto;
  height: auto;
  gap: 90px;
}

.textProfile {
  padding-left: 28px;
}
