
.sidenav {
    position: fixed;
    margin-top: 100px !important;
    width: 60px;
    height: 50vh;
    border-radius: 0px 6px 6px 0px;
    background-color: #02C39A;
    transition: width 0.3s;
}

.sidenav:hover {
    width: 190px; 
}

.nav-list {
    padding-top: 16px;
}

.mat-list-item {
  display: flex;
  align-items: center;
  padding: 8px;
  text-decoration: none;
  transition: background-color 0.3s; 
}

mat-icon {
    padding-right: 18px;
}

.sub {
    margin-top: 37vh;
}
