<mat-sidenav-container class="container">
    <mat-sidenav *ngFor="let user of infoUser" class="sidenav" mode="side" [(opened)]="opened">
        <mat-nav-list class="nav-list DF">
            <a mat-list-item routerLink="application">
                <div class="caderneta">
                    <mat-icon class="icon v-middle" appWhite> event </mat-icon>
                    <span class="white"> Caderneta </span>
                </div>
            </a>
            <a mat-list-item (click)="toggleSublist()" routerLink="register">
                <div class="Register">
                    <mat-icon class="icon v-middle" appWhite> assignment </mat-icon>
                    <span class="white"> Registros </span>
                </div>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <router-outlet class="outlet"></router-outlet>
</mat-sidenav-container>