mat-sidenav {
  position: fixed;
  margin-top: 108px !important;
  width: 200px;
  height: 76vh;
  display: flex;
  margin-bottom: 0px;
  justify-content: space-between;
  border-radius: 0px 6px 6px 0px;
  background: rgb(42, 145, 235);
  background: linear-gradient(360deg, rgb(76, 144, 247) 5%,   rgb(18, 96, 230))13%, rgba(0,134,255,1) 100%;
}

a:hover {
  background-color: white;
}

a:hover mat-icon {
  color: #1376f7 !important;
}

a:hover span {
  color: #1376f7 !important;
}

.container {
  width: auto;
  background-color: rgba(255, 255, 255, 0.048);
}

.nav-list {
  width: 100%;
  margin-bottom: 0px;
  display: grid;
  height:  548px;
}

.arrow-icon {
  padding-left: 10px;
  transition: transform 0.3s ease;
  font-size: 20px;
}

.arrow-icon.rotated {
  transform: rotate(360deg);
}

.sair {
  display: grid;
  align-items: end;
  height: 100%;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.icon {
  padding-right: 18px;
  width: 30px;
}

.textProfile {
  padding-left: 28px;
}
