
.dialog {
    padding: 9px;
    background-color: #F8F1FF;
}

h1 {
    text-align: center;
    padding-bottom: 6px;
    top: 0;
    box-shadow: 0 1px#0000001a;
}

.No {
    width: 120px;
    background-color: #21a4f0 !important;
}

.Yes {
    width: 120px;
    color:  #21a4f0 !important; 
    background-color: white;
}

.buttons {
    display: flex;
    gap: 17px
}