.header {
    justify-content: space-between;
}

.header .logo {
    width: 35px;
    height: 35px;
    border: 3px solid white;
}

.header > a{
    font-size: 14px;
    margin-right: 20px;
}

.main {
    display: flex;
    justify-content: center;
    max-width: 90%;
    gap: 50px;
}

.signup {
    margin-top: 135px;
    width: 40vw;
}

.signup div > img {
    width: 40vw;
    height: 60vh;
}

.signup .texts {
    margin-top: 20px;
}

.signup .texts > h1{
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 600;
    color: #02C39A ;
}

.upForm{
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 600;
    color: #02C39A
}

form {
    display: grid;
}

.form {
    display: grid;
    margin-top: 135px;
    border-radius: 6px;
    height: 100%;
    padding: 30px;
    margin-bottom: 50px;
    text-align: center;
}

.form .title {
    font-size: 35px;
    font-weight: 700;
    font-family: 'Open Sans';
    margin-bottom: 70px;
}

.form .cadastrar {
    width: 100px;
    color: white !important;
    background-color: #02C39A !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}