body {
    background-color: rgb(170, 95, 95);
    height: auto;
    width: auto;
}

.main {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.header {
    justify-content: space-between;
}

.header .logo {
    width: 35px;
    height: 35px;
    border: 3px solid white;
}

.header > a{
    font-size: 14px;
    margin-right: 20px;
}

.title {
    text-align: center;
    margin-top: 30px;
}


.formSignUp {
    display: grid;
    margin-top: 50px;
    border-radius: 6px;
    height: 100%;
    padding: 60px;
    margin-bottom: 50px;
    text-align: center;
    background-color: azure;
}

.signup {
    margin-top: 135px;
    width: 40vw;
}   

.signup .texts {
    margin-top: 20px;
}

.signup .texts > h1{
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 600;
    color: #02C39A ;
}

.upForm{
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 600;
    color: #02C39A
}

form {
    display: grid;
}

.formSignUp .title {
    font-size: 35px;
    font-weight: 700;
    font-family: 'Open Sans';
    margin-bottom: 70px;
}

.formSignUp .cadastrar {
    width: 100px;
    color: white !important;
    background-color: #02C39A !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}