<body>
  <mat-toolbar class="header mat-elevation-z3">
    <div>
      <h4>Vacina_Facil</h4>
    </div>
    <a routerLink="" appWhite>Login</a>
  </mat-toolbar>
  <div class="main">
    <h1>Cadastre-se</h1>
    <div class="formSignUp mat-elevation-z4">
      <form class="formInfo" [formGroup]="form">
        <p class="upForm">Dados pessoais</p>
        <mat-form-field appearance="outline">
          <mat-label>Nome Completo</mat-label>
          <input type="text" matInput formControlName="nome" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>CPF</mat-label>
          <input matInput type="number" formControlName="cpf" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>RG</mat-label>
          <input matInput type="number" formControlName="rg" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Data de nascimento</mat-label>
          <input
            matInput
            type="date"
            placeholder="Selecione uma data"
            formControlName="data_Nascimento"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Sexo</mat-label>
          <mat-select formControlName="sexo">
            <mat-option value="Masculino">Masculino</mat-option>
            <mat-option value="Feminino">Feminino</mat-option>
            <mat-option value="Outros">Outros</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput type="email" formControlName="email" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Celular</mat-label>
          <input matInput type="number" formControlName="telefone" />
        </mat-form-field>

        <p class="upForm">Crie sua senha</p>
        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <input matInput type="password" formControlName="senha" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Confirmar senha</mat-label>
          <input matInput type="password" formControlName="confirmarSenha" />
        </mat-form-field>
      </form>
      <form class="adressForm" [formGroup]="adressForm">
        <p class="upForm">Endereço</p>
        <mat-form-field appearance="outline">
          <mat-label>Cep</mat-label>
          <input
            matInput
            type="number"
            (blur)="DadosCep()"
            formControlName="cep"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Uf</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="endereco.uf"
            formControlName="uf"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Localidade</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="endereco.localidade"
            formControlName="localidade"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Bairro</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="endereco.bairro"
            formControlName="bairro"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Logradouro</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="endereco.logradouro"
            formControlName="logradouro"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Número</mat-label>
          <input matInput type="number" formControlName="numero" />
        </mat-form-field>
        <input
          type="file"
          class="file-input"
          (change)="onFileSelected($event)"
          #fileUpload
        />

        <div class="file-upload">

          <button
            mat-mini-fab
            color="primary"
            class="upload-btn"
            (click)="fileUpload.click()"
          >
            <mat-icon>attach_file</mat-icon>
          </button>
        </div>
      </form>
      <button class="buttonRegister" mat-button (click)="Submit()">
        Cadastrar
      </button>
    </div>
  </div>
</body>
