.main {
    display: flex;
    justify-content: center;
    max-width: 90%;
    gap: 50px;
}

.signup {
    margin-top: 135px;
    width: 40vw;
}

.signup div > img {
    width: 40vw;
    height: 60vh;
}

.signup .texts {
    margin-top: 20px;
}

.signup .texts > h1{
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 600;
    color: #21a4f0 ;
}

.upForm{
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 600;
    color: #21a4f0
}

form {
    display: grid;
}

.form {
    display: grid;
    margin-top: 135px;
    border-radius: 6px;
    height: 100%;
    padding: 30px;
    margin-bottom: 50px;
    text-align: center;
}

.form .title {
    font-size: 35px;
    font-weight: 700;
    font-family: 'Open Sans';
    margin-bottom: 70px;
}

.form .cadastrar {
    width: 100px;
    color: white !important;
    background-color: #21a4f0 !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}