<mat-card class="main">
  <h1 style="font-family: Montserrat;">Vacinas</h1>
  <header>
    <mat-form-field style="width: 100vh; align-content: center;" appearance="outline">
      <input matInput placeholder="Procure uma vacina" [(ngModel)]="searchTerm" type="search" (keyup)="search($event)"/>
      <mat-icon matSuffix> search </mat-icon>
    </mat-form-field>

    <mat-icon class="add" (click)="OpenDialogRegisterVacciness()">add</mat-icon>
  </header>
  <table style="height: auto !important" style="background-color: rgb(238, 238, 238);" mat-table class="table" [dataSource]="vaccines" >
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let vaccine; columns: columns"></tr>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Tipo de Vacina</th>
      <td mat-cell *matCellDef="let vaccine">{{ vaccine.Nome }}</td>
    </ng-container>

    <!-- <ng-container matColumnDef="doses">
            <th mat-header-cell *matHeaderCellDef>Doses</th>
            <td mat-cell *matCellDef="let vaccine">{{ vaccine.doses }}</td>
        </ng-container> -->

    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let vaccine">
        <div class="icons">
          <a class="edit" (click)="UpdateVacina(vaccine.ID)">
            <mat-icon class="mat-18"> edit </mat-icon>
          </a>
          <a class="delete" (click)="deleteVacina(vaccine.ID)">
            <mat-icon class="mat-18"> delete </mat-icon>
          </a>
        </div>
      </td>
    </ng-container>
  </table>
</mat-card>
