.main {
    display: flex;
    justify-content: center;
    margin-top: 35px !important;
    padding: 10px 20px 20px 20px; 
    margin: 20px;
    height: auto;
}

.even-row {
    background-color: #eee;
}

.boxShadow {
    box-shadow: 0 1px#0000001a;
}

.odd-row {
    background-color: white;
}

table {
    height: auto !important;
    background-color: rgb(238, 238, 238);
}


.icons {
    display: flex;
    gap: 10px;
}

.alin {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.add {
    cursor: pointer;
    margin-right: 13px;
    margin-top: 15px;
    font-size: 30px !important;
    color: blue;
}

.delete {
    color: rgb(192, 21, 21);
    cursor: pointer;
}

.edit {
    color: rgb(233, 154, 36);
    cursor: pointer;
}