.main {
    display: flex;
    justify-content: center;
    margin-top: 35px !important;
    padding: 20px;
    margin: 20px;
    background-color:  rgba(255, 255, 255, 0.842);
    height: auto;
}

.even-row { background-color: #eee; }

.odd-row { background-color: white; }

.icons {
    display: flex;
    gap: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.add {
    cursor: pointer;
    margin-right: 13px;
    margin-top: 15px;
    font-size: 30px !important ;
    color:  blue;
}

.delete {
    color: rgb(192, 21, 21);
    cursor: pointer;
}

.edit {
    color: rgb(233, 154, 36);
    cursor: pointer;
}