<mat-card class="main">
    <button
    mat-button class="addVaccines" (click)="OpenDialogRegisterVacciness()">
    <mat-icon>add</mat-icon>Vacinas
  </button>
    <table style="height: 60vw !important;" mat-table class="table" [dataSource]="vaccines">
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let vaccine; columns: columns"></tr>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Tipo de Vacina</th>
            <td mat-cell *matCellDef="let vaccine">{{ vaccine.nome }}</td>
        </ng-container>

        <ng-container matColumnDef="doses">
            <th mat-header-cell *matHeaderCellDef>Doses</th>
            <td mat-cell *matCellDef="let vaccine">{{ vaccine.doses }}</td>
        </ng-container>

        <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef>Ações</th>
            <td mat-cell *matCellDef="let vaccine">   <div class="icons">
                <a class="edit">
                  <mat-icon class="mat-18"> edit </mat-icon>
                </a>
                <a class="delete">
                  <mat-icon class="mat-18"> delete </mat-icon>
                </a>
              </div></td>
         
        </ng-container>
    </table>

</mat-card>