<mat-sidenav-container class="container" color="primary">
    <mat-sidenav class="sidenav"  mode="side" opened 
    fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="enrroll"> 
                <i class="material-icons v-middle" appWhite>
                    create
                </i>
                <a class="white">
                    Cadastro
                </a>
            </a>
            <a mat-list-item routerLink="calendar">
                <i class="material-icons v-middle"  appWhite>
                    event
                </i>
                <a class="white">
                    Calendário 
                </a>
            </a>
            <a mat-list-item routerLink="schedulind">
                <i class="material-icons v-middle" appWhite>
                    schedule
                </i>
                <a class="white">
                    Agendamentos
                </a>
            </a>
            <a mat-list-item routerLink="register">
                <i class="material-icons v-middle" appWhite>
                    assignment
                </i>
                <a class="white">
                    Registros
                </a>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>