<div class="login">
    <h1 class="tittle">Login</h1>
    <p>Digite seu e-mail e senha para acessar sua conta</p>
        <form class="form" [formGroup]="form">
            <mat-form-field>
                <mat-label>E-mail</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>
            <mat-form-field>
            <mat-label>Senha</mat-label>
            <input type="password" matInput formControlName="password">
            </mat-form-field>
        <button mat-button>Continuar</button>
    </form>
</div>