<main>
    <span>
        <mat-icon class="close" (click)="close()">close</mat-icon>
    </span>
    <h1 style="font-family: Montserrat;">Altere o campo abaixo:</h1>
    <form>
        <mat-form-field appearance="outline">
            <mat-label>Tipo da Vacina</mat-label>
            <input matInput [(ngModel)]="vacina.Nome" type="text" name="Nome_da_Vacina">
        </mat-form-field>
        <button mat-button appWhite style="font-family: Montserrat;" (click)="updateVacina()">Atualizar</button>
    </form>
</main>