main {
    width: 30vw;
    height: 30vh;
    text-align: center;
    padding:  20px;
}

form {
    display: grid;
    width: 100% !important;
    margin-top: 65px;
}

h1 {
    font-size: 24px !important;
}

button {
    width: 100%;
    margin-top: 5px !important;
    margin: 0 auto;
    height: 44px !important;
    background-color:  #21a4f0 !important;
    color: #FFF !important;
}