main{
  margin: 0 auto;
  max-width: 90vw;
  margin-top: 35px;
}

.even-row { background-color: #eee; }

.odd-row { background-color: white; }

::ng-deep .highlight{
  color: white;
  background: #673AB7;
}

mat-card {
  min-height: 30vh;
  padding: 20px;
  margin-bottom: 50px !important;
  height: auto;
  background-color: #ebebeb;
}

span {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

table {
  width: 500px;
  border-radius: 50%;
  background-color: #eceaea !important;
}

.add {
  font-size: 30px; color: blue;
  margin-right: 13px;
  margin-top: 17px;
  cursor: pointer;  
  margin-bottom: 0;
}

.icons {
  display: flex;
  gap: 10px;
}

.delete {
  color: rgb(192, 21, 21);
  cursor: pointer;
}

.edit {
  color: rgb(233, 154, 36);
  cursor: pointer;
}

h1 {
  margin: 0 !important;
}